{
  "presets": ["next/babel"],
  "plugins": [
    "transform-decorators-legacy",
    ["emotion", { "inline": true }]
  ],
  "env": {
    "test": {
      "presets": [
        ["env", { "modules": "commonjs" }],
        "next/babel"
      ],
      "plugins": [
        "transform-decorators-legacy",
        ["emotion", { "inline": true }]
      ]
    }
  }
}
