//Some stuff here is out of BEM because it is used inside WP as helpers or modifiers
// Text sizes are refines via mixins as utility helpers
$cs-text-color: $base-dark-color;
$cs-default-padding: 35px;

/* stylelint-disable selector-no-type */
.content-style {
  @include text-size(default);
  line-height: 1.6;
  color: $cs-text-color;

  p,
  ul,
  ol {
    @extend %paragraph-reset;
    padding-bottom: $cs-default-padding;

    &.clear-spacing,
    &:last-child {
      padding-bottom: 0;
    }
  }

  .largest,
  &--largest {
    @include text-size(largest);
    line-height: 1.5;
  }

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    @extend %heading-reset;
    font-weight: bold;
    line-height: 1.7;
    text-transform: uppercase;
    padding: 20px 0 25px;
  }

  > h1 {
    @include text-size(biggest);
  }

  > h2 {
    @include text-size(bigger);
  }

  > h3 {
    @include text-size(big);
  }

  > h4 {
    @include text-size(largest);
  }

  > h5 {
    @include text-size(larger);
  }

  > h6 {
    @include text-size(large);
  }

  ul,
  ol {
    margin-left: 22px;

    li {
      padding-bottom: 15px;

      &:last-child {
        padding-bottom: 0;
      }

      ul,
      ol {
        margin-left: 44px;
      }
    }
  }

  strong {
    font-weight: bold;
  }

  blockquote {
    @extend %list-reset;
    font-style: italic;
  }

  em {
    font-style: italic;
  }
}
