$base-black-color:      #000000;
$base-white-color:      #FFFFFF;

$base-mine-color:       #232323;
$base-dark-color:       #303030;
$base-scarlet-color:    #D0021B;
$base-pale-color:       #D75A4A;
$base-chalice-color:    #9F9F9F;
$base-silver-color:     #CCCCCC;
$base-mercury-color:    #E5E5E5;


$base-primary-color: $base-scarlet-color;

// Defaults
$base-text-color: $base-dark-color;
$base-bg-color: $base-white-color;

// Text color helper
$color-map: (
  primary:    $base-primary-color,
  white:    $base-white-color,
);

// Buttons
$button-color-map: (
  default: (
    bg: transparent,
    text: $base-dark-color,
    border: $base-dark-color,
    bg-hover: $base-dark-color,
    text-hover: $base-white-color,
    border-hover: $base-dark-color
  )
);

$links-map: (
  default: (
    color: $base-primary-color,
    hover: $base-dark-color
  ),
);
